<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneMatrix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GeneMatrix.Properties.Settings>
            <setting name="Muscle" serializeAs="String">
                <value />
            </setting>
            <setting name="ClustalW" serializeAs="String">
                <value />
            </setting>
            <setting name="PRANK" serializeAs="String">
                <value />
            </setting>
            <setting name="MAFFT" serializeAs="String">
                <value />
            </setting>
            <setting name="MuscleD" serializeAs="String">
                <value />
            </setting>
            <setting name="MuscleP" serializeAs="String">
                <value />
            </setting>
            <setting name="ClustalWD" serializeAs="String">
                <value>-OUTPUT=FASTA -TYPE=DNA</value>
            </setting>
            <setting name="ClustalWP" serializeAs="String">
                <value>-OUTPUT=FASTA -TYPE=PROTEIN</value>
            </setting>
            <setting name="PRANKD" serializeAs="String">
                <value />
            </setting>
            <setting name="PRANKP" serializeAs="String">
                <value />
            </setting>
            <setting name="MAFFTD" serializeAs="String">
                <value>--auto --retree 2 --inputorder</value>
            </setting>
            <setting name="MAFFTP" serializeAs="String">
                <value>--auto --retree 2 --inputorder</value>
            </setting>
        </GeneMatrix.Properties.Settings>
    </userSettings>
</configuration>